/*.... formulario...*/
.parrafoFormulario{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}
.formularioTamaño{
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    padding: 3rem 2rem 3rem 2rem;
}